<!DOCTYPE html>
<html lang="en" ng-app="videoApp">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Angular Custom Video App</title>
  <meta name="description" content="Custom HTML5 Video Playback with AngularJS">
  <meta name="author" content="Mynor Bugsy Alexander">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/darkly-min.css">
  <link rel="stylesheet" href="css/style.css">
  
  <!-- JavaScript
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

</head>

<body ng-controller="VideoController">

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <section class="wrapper">
    <div id="fullPlayer" class="unselectable ng-cloak">
      <div class="embed-responsive embed-responsive-16by9">
        <video id="videoElement" ng-click="togglePlay()" width="100%" height="100%" src="{{videoSource}}"></video>
        <div id="bigPlayButton" ng-click="togglePlay()" ng-hide="videoPlaying" class="well"><span class="glyphicon glyphicon-play"></span></div>
        <div id="videoTitle" ng-hide="videoPlaying">{{titleDisplay}}</div>
      </div>
      <!-- End .embed-responsive -->

      <div id="playerToolBar">
        <a id="playBtn" class="btn btn-default" ng-click="togglePlay()"><span class="glyphicon glyphicon-play"></span></a>
        <a id="muteBtn" class="btn btn-default" ng-click="toggleMute()"><span class="glyphicon glyphicon-volume-up"></span></a>
      <span id="videoTime">{{currentTime}} / {{totalTime}}</span>
      </div>
    </div> <!-- End #fullPlayer -->
  </section>

  <!-- JavaScript
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script>
    var videoSource = "video/Acqua-Couture.mp4";
    var titleDisplay = "Acqua Couture 2013 Collection Teaser";
    var videoDescription = "Acqua Couture 2013 Collection Teaser. Featuring Supermodel Amanda Gift & Anna Madalyn.";
  </script>
  
  <script src="js/app.js"></script>

  <!-- End Document
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
